<!DOCTYPE html>
<html lang="en" class="<%= process.env.NODE_ENV === 'development' ? 'development' : '' %>">
  <head>
    <meta charset="utf-8" />
    <title>JSON Log Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"/>
    <link rel="shortcut icon" href="favicon.icon">
  </head>
  <body>
    <main/>
    <script src="index.js"></script>
  </body>
</html>
